.best-time-div{
    display: flex;
    gap: 1rem;
    padding: .5rem;
    background-color: var(--wkd-pastell-blue);
}

.best-time-div > h3{
    font-size: x-small;
    color: white;
  }
  
  .best-time-div > p{
    font-size: x-small;
    color: white;
  }